.container {
  padding-top: 13px;
}
.centerTitle {
  width: 100%;
  padding-bottom: 1em;
}
.title {
  color: #b36a0f;
  font-weight: bold;
  font-size: 15px;
  opacity: 0.7;
}
.centered {
  text-align: center;
}

.button {
  cursor: pointer;
  border: silver;
  color: #fff;
  font-weight: bold;
  background-color: #000;
}
