// Import bootstap
@import "~bootstrap/scss/bootstrap";

// Import component styles
@import "Components/Card/card.styles.scss";
@import "Components/CardList/cardList.styles.scss";
@import "Components/Pagination/pagination.styles.scss";
@import "Components/SearchBox/searchbox.styles.scss";

h5 {
  font-size: 0.9em;
  text-transform: uppercase;
  color: #808080;
  margin-top: 0.9em;
  margin-bottom: 0;
}
h3 {
  font-size: 1.3em;
  font-weight: 600;
  color: #5a5a5a;
  text-transform: capitalize;
  margin-bottom: 0;
  margin-top: 0.3em;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: calc(24px * 2);
}
.App {
  max-width: 1240px;
  margin: 0 auto;
  padding: 1.25em 1em 2em;
}
