.container {
  margin-left: 30%;
  margin-right: 30%;
  width: 40%;
  padding-top: 1em;
}
.titleContainer {
  display: flex;
  justify-content: center;
  padding-bottom: 12px;
  font-weight: 600;
  font-size: 14px;
}
.profileContainer {
  display: flex;
}
.imgContainer {
  display: flex;
  justify-content: flex-end;
  align-self: flex-start;
  width: 42%;
  padding-top: 2px;
}
.labelContainer {
  color: #444444;
  font-weight: bold;
  font-size: 12px;
  width: 21%;
  padding-bottom: 5px;
}
.valueContainer {
  color: #444444;
  font-weight: bold;
  opacity: 0.7;
  font-size: 12px;
  width: 45%;
  padding-bottom: 5px;
}

.profileInfoContainer {
  padding-left: 0.5em;
  width: 50%;
}

.flexContainer {
  display: flex;
}
