.container {
  display: flex;
  flex-direction: row;
  padding-left: 6px;
  padding-right: 6px;
  background-color: #ededed;
  height: 50px;
  border-radius: 2px 2px 0 0;
}
.welcome {
  color: #6600cc;
  font-size: 12px;
  font-weight: bold;
}

.logo {
  width: 22px;
  height: 22px;
}

.left {
  display: flex;
  align-self: center;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 25%;
}

.center {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 50%;
}
.centerLabel {
  font-size: 16px;
  font-weight: bold;
  color: #777777;
}

.right {
  display: flex;
  justify-content: flex-end;
  align-self: center;
  width: 25%;
}
